<div class="card animated fadeIn fast">
  <img class="card-img-top img-fluid imagen" src="{{ pelicula.imagen }}" [alt]="pelicula.nombre" (click)="verPelicula()">
  <div class="card-body">
    <h4 class="card-title">{{ pelicula.nombre }}</h4>
    <p class="card-text"> {{ pelicula.director }} </p>
    <div class="row">
      <p class="card-text"> <small class="text-muted"> {{ pelicula.clasificacion }}</small></p>
      <p class="card-text">
        <label *ngIf="pelicula.fav" class="badge badge-outline-warning"><i class="fas fa-star text-warning"></i></label>
        <label *ngIf="!pelicula.fav" class="badge badge-outline-warning"><i class="far fa-star text-warning"></i></label>
      </p>
    </div>


    <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a> -->

  </div>
</div>