<h1>Pelicula</h1>
<hr>


<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="/peliculasTabla">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>
<form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
<div class="form-group">

    <label class="file-label"><label>Imagen de pelicula</label>
      <div class="input-group mb-3">
          
        <div class="custom-file">
          <input type="file" class="custom-file-input" accept="image/*" id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01" formControlName="archivo" (change)="cambioArchivo($event)">
          <label class="custom-file-label" for="inputGroupFile01">Elige una Imagen</label>
        </div>
      </div>

      <img class="imagen" id="blah"  [src]="imageSrc" style="overflow:hidden;"/>


      <span class="file-cta">
      </span>
    </label>
    <hr>

    <label class="download" *ngIf="finalizado">Imagen Correcta</label>

    <hr>
    <progress *ngIf="porcentaje > 0 && porcentaje < 100" class="progress is-large is-success" value="{{porcentaje}}"
      max="100">{{porcentaje}}%</progress>
    <button class="btn btn-primary"
      [ngClass]="{'button': true, 'is-success': true, 'is-large': true, 'is-loading': porcentaje > 0 && porcentaje < 100}"
      [disabled]="!archivoForm.valid">Confirmar Foto</button>

  </div>
</form>
<div class="row animated fadeIn faster">
  <div class="col">


      
      <div >
        <label>Firebase ID</label>
        <input type="text" class="form-control" placeholder="Firebase ID" [(ngModel)]="pelicula.id" name="id"
          disabled="disabled">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>




      <div >
        <label>Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre de la pelicula" [(ngModel)]="pelicula.nombre"
          name="nombre" required>
      </div>

      <div >
        <label>Director</label>
        <input type="text" class="form-control" [(ngModel)]="pelicula.director" name="direcctor"
          placeholder="Direcctor de la Pelicula">
      </div>

      <div>
        <label>Sinopsis</label>
        <textarea type="text" class="form-control" [(ngModel)]="pelicula.sinopsis" name="sinopsis"
          placeholder="Sinopsis de la Pelicula" id="" cols="30" rows="5"></textarea>

      </div>

      <div >
        <label>Genero</label>

        <input type="text" class="form-control" [(ngModel)]="pelicula.clasificacion" name="clasificacion"
          placeholder="clasificacion de la Pelicula">
      </div>



    <div >

          <input type="text" id="text_id" value="{{ URLPublica }}"[(ngModel)]="pelicula.imagen" name="imagen"  style="visibility:hidden">

    </div> 



      <hr>
      <div class="form-group text-center">
        <button (click)="guardarPelis()" type="submit" class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>



  </div>
</div>